.logViewer {
  border-radius: 6px;
  background-color: #1B1B21;
  color: white;
  padding: 10px;
  font-size: 12px;
  height: 216px;
  overflow-y: auto;
  margin: 20px 0;
}

.oneline {
  margin-top: 16px;
  overflow: hidden;
}