.panelsWrapper {
  display: flex;
  margin: 0 10px;
  height: calc(100vh - 10px);
  :global {
    .main-content {
      flex: 1;
      position: relative;
    }

    .gap {
      width: 10px;
      cursor: col-resize;
    }

    .panels {
      min-width: 100px;
    }

    .box { 
      background-color: var(--backgroundColor);
      border: solid 1px var(--borderColor);
      overflow: hidden;
      border-radius: 12px;
    } 
    .ant-tabs {
      display: flex;
      flex-direction: column;
      height: 100%;
      .ant-tabs-nav {
        padding: 0 10px;
        user-select: none;
        .ant-tabs-tab {
          font-size: 14px !important;
        }
      }
      .ant-tabs-content-holder {
        flex:1;
        .ant-tabs-content, .ant-tabs-tabpane{
          height: 100%;
        }
      }

      .ant-tabs-tab+.ant-tabs-tab {
        margin: 0 0 0 16px;
      }
    }
  }
}