.panelsWrapper {
  display: flex;
  margin: 0 10px;
  height: calc(100vh - 10px);
  :global {
    .main-content {
      flex: 1;
      position: relative;
    }

    .gap {
      width: 10px;
      cursor: col-resize;
    }

    .panels {
      min-width: 100px;
    }

    .box { 
      background-color: var(--backgroundColor);
      border: solid 1px var(--borderColor);
      overflow: hidden;
      border-radius: 12px;
    } 
  }
}