.myWorkflows {
    overflow-y: auto;
    padding-top: 14px;
    height: 100%;
    :global {
        .workflow-create-box {
            margin-bottom: 20px;
            margin-right: 16px;
        }
        .create-button {
            user-select: none;
            display: flex;
            border-radius: 10px;
            border: 1px solid rgba(71, 71, 71, 0.10);
            background: var(--cardBackground);
            padding: 12px;
            transition: var(--transition);
            .icon {
                margin-right: 6px;
            }
            .description {
                font-size: 12px;
                opacity: .5;
            }
            &:hover {
                background-color: var(--cardHover);
            }
        }

        .workflow-list-item {
            user-select: none;
            border-radius: 12px;
            border: 1px solid rgba(71, 71, 71, 0.10);
            background: var(--cardBackground);
            padding: 10px;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            transition: var(--transition);
            .gallery-card {
                width: 228px;
                height: 158px;
                background-color: var(--cardHover);
                border-radius: 10px;
            }

            .title {
                margin: 10px 0 6px;
                font-size: 16px;
                font-weight: 700;
                max-width: 200px;
                overflow: hidden;
                text-wrap: nowrap;
                text-overflow: ellipsis;
            }

            &:hover {
                background-color: var(--cardHover);
            }
        }
    }   
}