.reactFlowSelected {
    border: solid 2px var(--primaryColor) !important;
}
.reactFlowNode {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #D7D7D7;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    min-width: 190px;
    :global {
        .node-header {
            flex-direction: row;
            display: flex;
            align-items: center;
            padding: 5px 7px 5px 12px;
            border-bottom: 1px solid #D7D7D7;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .node-title {
                color: #666;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: 12px;
                margin: 0;
            }
        }
        .node-main {
            flex-direction: column;
            display: flex;
            flex: 1 1 0%;
            background-color: #fff;
            position: relative;
            padding-bottom: 8px;
            padding-top: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .node-slots {
            display: flex;
            .node-inputs, .node-outputs {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
            .node-slot{
                position: relative;
                font-size: 10px;
                line-height: 14px;
                font-family: JetBrains Mono, monospace;
                color: #343434;
                padding: 4px 12px;
                width: 100%;
                box-sizing: border-box;
                &.node-slot-right {
                    text-align: right;
                }
            }
        }
        .node-input-container {
            position: relative;
            padding: 4px 10px;
            input {
                text-align: right;
                font-family: JetBrains Mono, monospace;
                font-size: 10px;
                line-height: 24px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: #666;
                padding: 0;
            }
            .switch-wrapper {
                display: flex;
                .switch-label {
                    flex: 1;
                }
                .switch-input {
                    display: flex;
                    justify-content: flex-end;
                }
            }
            textarea,
            .node-input-label-name,
            .ant-input-prefix,
            .ant-select-selection-item {
                font-family: JetBrains Mono, monospace;
                font-size: 10px;
            }
            .node-input-label-box {
                position: relative;
                .node-input-label-name {
                    position: absolute;
                    z-index: 1;
                    left: 8px;
                    top: 6px;
                }
            }
        }
        .progress-bar {
            position: absolute;
            height: 100%;
            opacity: 0.3;
            transition: width 1s ease-out;
        }

        .graph-node {
            min-width: 180px;
        }

        .error-popup {
            position: absolute;
            top: -3em;
            left: 0.5em;
        }

    }
}