
.reactFlowNode {
    border: solid 2px transparent;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--node-border-color);
    background-color: var(--node-bg-color);
    backdrop-filter: blur(6px);
    position: relative;
    min-width: 190px;
    box-sizing: border-box;
    width: 100%;
    $size: -4px;
    &::after, &::before {
        content: "";
        display: block;
        position: absolute;
        top: $size;
        left: $size;
        right: $size;
        bottom: $size;
        z-index: -1;
        background-color: var(--node-bg-color);
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
    }
    $size2: -6px;
    &::before {
        top: $size2;
        left: $size2;
        right: $size2;
        bottom: $size2;
        background-image: linear-gradient(to right, var(--primaryColor), var(--secondaryColor));
        border-radius: 10px;
    }

    :global {
        .connectionindicator {
            transform-origin: 50% 80%;
            transition: var(--transition);
        }

        .node-images-preview {
            padding: 10px;
            flex: 1;
            overflow: hidden;
            .inner {
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                grid-gap: 10px;
                padding: 10px;
            }
            .ant-image {
                margin-right: 4px;
                margin-bottom: 4px;
                min-height: 200px;
                min-width: 200px;
                overflow: hidden;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: var(--backgroundColor);
                border-radius: 4px;
                img {
                    border-radius: 8px;
                }
            }
        }

        .resize-icon {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background: var(--backgroundColorL1);
            transition: var(--transition);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 4px;
            left: 4px;
            &:hover {
                background-color: var(--backgroundColorL2);
            }
            svg {
                transform: scale(.8);
                // position: relative;
                // top: -4px;
                // left: -4px;
            }
        }
        .node-header {
            flex-direction: row;
            display: flex;
            align-items: center;
            padding: 5px 7px 5px 12px;
            background: var(--node-color);;
            padding: 4px 6px;;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .node-title {
                color: white;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: 12px;
                margin: 0;
                display: flex;
                align-items: center;
                svg {
                    margin-right: 4px;
                }
            }
        }
        .node-main {
            position: relative;
            padding-bottom: 8px;
            padding-top: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .node-slots {
            display: flex;
            .node-inputs, .node-outputs {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
            .node-slot{
                position: relative;
                font-size: 10px;
                line-height: 14px;
                font-family: JetBrains Mono, monospace;
                color: #A8A9AF;
                padding: 4px 12px;
                width: 100%;
                box-sizing: border-box;
                &.node-slot-right {
                    text-align: right;
                }
            }
        }
        .node-input-container {
            position: relative;
            padding: 4px 10px;
            .node-input-label-box {
                display: flex;
                align-items: center;
                .node-input-label-name {
                    flex: 1
                }
                .ant-input-number-input-wrap, .ant-input {
                    padding: 0 10px;
                    flex: 0;
                }
                .ant-input-number-input-wrap {
                    padding-right: 25px;
                }
                .ant-select-selector {
                    background-color: transparent;
                }
                .ant-input-number, .ant-select, .ant-input  {
                    min-width: 100px;
                    max-width: calc(100% - 40px);
                    border-color: #414356;
                    height: 30px;
                    background-color: transparent;
                    &-focused {
                        border-color: var(--primaryColor);
                    }
                    .ant-input-number-handler-wrap {
                        background-color: transparent;
                    }
                }
                input {
                    font-family: JetBrains Mono, monospace;
                    font-size: 12px;
                    line-height: 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    color: white;
                    background-color: transparent;
                    padding: 0;
                }
            }


            .ant-upload-wrapper, .ant-upload {
                width: 100%;
                display: block;
            }

            .switch-wrapper {
                display: flex;
                .switch-label {
                    flex: 1;
                }
                .switch-input {
                    display: flex;
                    justify-content: flex-end;
                }
            }
            textarea,
            .node-input-label-name,
            .ant-input-prefix,
            .ant-select-selection-item {
                font-family: JetBrains Mono, monospace;
                font-size: 12px;
            }
        }
        .progress-bar {
            position: absolute;
            height: 100%;
            opacity: 0.3;
            transition: width 1s ease-out;
        }

        .graph-node {
            min-width: 180px;
        }

        .error-popup {
            position: absolute;
            top: -3em;
            left: 0.5em;
        }
    }
}

.reactFlowSelected {
    border: 2px solid var(--primaryColor);
}

.reactFlowProgress {
    &::before,
    &::after {
        visibility: visible !important;
        opacity: 1 !important;
    }
}