.galleryWrapper {
  height: 100%;
  overflow-y: auto;
}

.imageGallery {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  :global {
    .ant-image {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--backgroundColor);
      border-radius: 6px;
      img {
        border-radius: 4px;
        max-width: 98%;
        max-height: 98%;
      }
    }
  }
}

.previewToolbar {
  padding: 4px 14px;
  :global {
    .action {
      padding: 10px 12px;
      border-radius: 8px;
      &:hover {
        background-color: var(--backgroundColorL2);
      }
      svg {
        transform: scale(1.3);
      }
    }
  }
}