.action {
    border-radius: 4px;
    user-select: none;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    user-select: none;
    &:hover {
        background-color: var(--backgroundColorL2);
    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// ::-webkit-scrollbar-track:hover {
//     background-color: transparent;
// }

.spliter {
    width: 1px;
    background: #1C1C1E;
    opacity: 0.2;
    margin: 0 6px;
    height: 20px;
}

.icon-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    svg {
        margin-right: 10px;
    }
    &.ant-btn-primary {
        path {
            fill: white;
        }
    } 
}

.action-button {
    padding: 2px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    &:hover {
        background-color: var(--backgroundColorL2);
    }
    svg {
        * {
            fill: white;
            opacity: 1;
        }
    }
}