html, body {
  --backgroundColor: #1B1B1F;
  --backgroundColorL1: #262837;
  --backgroundColorL2: #35374B;
  --primaryColor: #2BCBBB;
  --secondaryColor: #2BAFF7;
  --borderColor: #262837;
  --fontColor: white;
  --borderRadius: 8px;
  --box-shadow: 0 8px 18px 0 rgb(11 11 77 / 4%), 0 0 2px 0 rgb(16 16 83 / 16%);
  --cardBackground: #262837;
  --cardHover: #34374b;
  --transition: all ease .2s;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
  height: 100%;
  * {
    box-sizing: border-box;
  }
}

@import '~styles/common';
@import '~styles/xterm';

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-size: 14px;
  line-height: 1.5715;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fixed {
  position: fixed;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}