.comfyuiProcessManager {
  :global {
    .title {
      display: inline-block;
      width: 250px;
      .sub {
        font-size: 11px;
        opacity: .6;
      }
    }
    .ant-modal-body {
      overflow-y: hidden;
    }
    .actions {
      margin: 10px 0;
      .info {
        flex: 1;
        font-size: 11px;
        justify-content: flex-start;
      }
    }
    .term {
      color: white;
      border-radius: 10px;
      height: calc(100% - 60px);
      .message {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 4px;;
      }
    }
    .info {
      font-size: 11px;
      position: relative;
      top: 4px;
    }
  }
}