.comfyuiProcessManager {
  :global {
    .term {
      color: white;
      border-radius: 10px;
      height: 100%;
      .message {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 4px;;
      }
    }
  }
}