.boardSettings {
  padding: 10px;
  :global {
    .setting-item {
      margin-bottom: 10px;
      .setting-title {
        font-size: 12px;
        opacity: .6;
        margin-bottom: 10px;
      }
    }
  }
}