.topRightPanel {
    position: relative;
    border-radius: 12px;
    padding: 6px;
    background-color: var(--backgroundColorL1);
    :global {
        .action:hover {
            background-color: var(--backgroundColorL2);
        }
    }
}