body, html {
  padding: 0;
  margin: 0;
  * {
    box-sizing: border-box;
  }
  #root {
    height: 100%;
    width: 100%;
  }
}
.tabManager {
  margin-left: 80px;

  .drag-area {
    -webkit-app-region: drag;
    /* 指定拖动区域 */
    height: 10px;
  }

  .tab-list {
    user-select: none;
    display: flex;
    .tab {
      flex: 1;
      max-width: 100px;
    }
  }
}