.widgetTree {
    height: 340px;
    width: 300px;
    :global {
        .ant-tree-list, .search-result {
            margin-top: 10px;
            height: 290px;
            overflow-y: auto;
        }
        .dndnode {
            width: 100%;
            display: flex;
            align-items: center;
            cursor: grab;
        }
    }
}