.bottomCenterPanel {
    border-radius: 12px;
    border: 1px solid #ebeae8;
    box-shadow: 0 8px 18px 0 rgba(11,11,77,.04), 0 0 2px 0 rgba(16,16,83,.16);
    padding: 12px;
    margin-left: -10%;
    background-color: white;
}