.bottomCenterPanel {
    border-radius: 12px;
    // border: 1px solid #3F4468;
    // box-shadow: 0 8px 18px 0 rgba(11,11,77,.04), 0 0 2px 0 rgba(16,16,83,.16);
    padding: 8px;
    // margin-right: 10%;
    background-color: var(--backgroundColorL1);
    :global {
        .action {
            height: 45px;
            width: 45px;
            border-radius: 8px;
        }
        .action svg {
            * {
                fill: white;
                opacity: 1;
            }
        }

        .action.active {
            background-color: var(--backgroundColorL2);
            color: var(--primaryColor);
        }
    }
}