
.modelManagement {
  padding-right: 20px;
  :global{
    .model-list {
      margin: 20px 0;
    }
    .model-market,.installed-models {
      height: calc(100vh - 90px);
      overflow-y: auto;
    }
    .model-list-item {
      border-bottom: solid 1px var(--borderColor);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;
      .size, .description, .type {
        font-size: 12px;
        opacity: .6;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      >div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
      }
      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        svg {
          margin-right: 4px;
        }
      }
    }

    .filters {
      display: flex;
      flex-wrap: wrap;
    }

    .filter-type {
      background-color: var(--backgroundColorL1);
      border-radius: 40px;
      padding: 2px 18px;
      font-size: 14px;
      margin-right: 10px;
      margin-bottom: 10px;
      &:hover, &.active {
        background-color: var(--backgroundColorL3);
      }
    }
  }
}