
.modelManagement {
  padding-right: 20px;
  :global{
    .model-list {
      margin: 20px 0;
    }
    .model-market,.installed-models {
      height: calc(100vh - 90px);
      overflow-y: auto;
    }
    .model-list-item {
      border-bottom: solid 1px var(--borderColor);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;
      .size, .description, .type {
        font-size: 12px;
        opacity: .6;
      }
    }

    .filters {
      display: flex;
      flex-wrap: wrap;
    }

    .filter-type {
      background-color: var(--backgroundColorL1);
      border-radius: 40px;
      padding: 2px 18px;
      font-size: 14px;
      margin-bottom: 2px;
      &:hover, &.active {
        background-color: var(--backgroundColorL3);
      }
    }

    .tutorial-banner-list {
      display: flex;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      grid-gap: 20px;
      padding: 10px 10px 10px 0;
    }

    .totorial-banner {
      cursor: pointer;
      height: 200px;
      width: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      display: flex;
      justify-content: left;
      align-items: center;
      background-color: white;
      border-radius: 8px;
      .image {
        width: 100%;
        height: 100px;
      }
      .tag {
        line-height: 22px;
        color: black;
        font-size: 18px;
        margin-left: 18px;
        margin-top: 40px;
        text-transform: uppercase;
      }
      .title {
        line-height: 28px;
        color: black;
        font-weight: bold;
        font-size: 32px;
        margin-left: 18px;
        margin-top: 6px;
        max-width: 300px;
      }
      .subtitle {
        margin-top: 6px;
        line-height: 22px;
        color: black;
        font-size: 16px;
        margin-left: 18px;
      }
      &:hover {
        transform: scale(1.02);
      }
    }

  }
}

